################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MultiThreadWPF/FileContentIndex/2c7c2a87-a4a0-4ae2-90b3-53edbacf1823.vsidx
/.vs/MultiThreadWPF/FileContentIndex/4657516e-b392-49f1-a224-558d4709a8de.vsidx
/.vs/MultiThreadWPF/FileContentIndex/773c109d-6743-402d-ae7d-02cc5ee563bc.vsidx
/.vs/MultiThreadWPF/v17/.suo
